<ion-pane>
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-navicon" onclick="openNav()"></button> --
    <h1 class="title">{{appTitle}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/me.jpg">
        <h2>Lunch</h2>
        <p><span style="font-weight:bolder">&#8377;100</span> paid by <span style="font-weight:bolder">Hrs Doshi</span></p>
        <p>on <span style="font-weight:bolder">16/12/2014</span> at <span style="font-weight:bolder">12:34</span></p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/me.jpg">
        <h2>Dinner</h2>
        <p><span style="font-weight:bolder">&#8377;100</span> paid by <span style="font-weight:bolder">Hrs Doshi</span></p>
        <p>on <span style="font-weight:bolder">16/12/2014</span> at <span style="font-weight:bolder">19:30</span></p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/me.jpg">
        <h2>Snacks</h2>
        <p><span style="font-weight:bolder">&#8377;100</span> paid by <span style="font-weight:bolder">Hrs Doshi</span></p>
        <p>on <span style="font-weight:bolder">16/12/2014</span> at <span style="font-weight:bolder">23:00</span></p>
      </a>
      <div class="padding">
        <a href="#/home" class="button button-block button-positive">Back</a><br><br>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">{Webmpires}</div>
  </div>
</ion-pane>