<ion-pane>
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-navicon" onclick="openNav()"></button> --
    <h1 class="title">{{appTitle}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/me.jpg">
        <h2>Harsh Doshi <i class="icon ion-refresh"></i></h2>
        <p>Get <span style="font-weight:bolder">&#8377;100</span> from <span style="font-weight:bolder">Shreeji Shah</span></p>
      </div>
    </div>
    <div class="list card">
      <a class="item item-icon-left" href="#/addHissab">
        <i class="icon ion-plus"></i>
        Add Hissab
      </a>
      <a class="item item-icon-left" href="#/history">
        <i class="icon ion-clipboard"></i>
        History
      </a>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">{Webmpires}</div>
  </div>
</ion-pane>